#map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.select-address-modal {
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 530px;
    width: 100%;
    max-width: 800px;
    display: none;
}
.select-address-modal__overlay {
    content: '';
    display: block;
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3)
}
.select-address-modal__wrapper {
    position: relative;
    z-index: 1;
    border-radius: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.2);
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.select-address-modal__close {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    border-radius: 0;
    padding: 0;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 20px;
}
.select-address-modal__actions {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
}
.select-address-modal__accept {
    padding: 10px 20px;
    font-size: 12px;
    margin-left: auto;
    display: none;
}

.select-address-modal__edit {
    padding: 10px 20px;
    font-size: 12px;
    margin-top: 20px;
}
.select-address-modal__error {
    line-height: 1.5;
    font-size: 16px;
    color: red;
    margin: auto;
    text-align: right;
    background: white;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.select-address-modal__error p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.select-address-modal__map {
    height: 100%;
    width: 100%;
    flex: 1 1;
    position: relative;
}
.select-address__content {
    margin-bottom: 20px;
}
.select-address__content p {
    padding: 0;
    margin: 0;
}
.select-address__error {
    display: none;
}
.select-address__error {
    color: red;
}

#billing_country_field,#billing_address_1_field, #billing_city_field, .woocommerce-shipping-fields {
    display: none!important;
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.cart-collaterals .select-address__title {
    font-size: 18px;
    margin-top: 14px;
}

@media (max-width: 767px){
    #masthead, .pizzaro-handheld-footer-bar{
        z-index: 5;
    }
    .select-address-modal{
        z-index: 6;
    }
}