#update-file-prodcat, #remove_cache_files{
	/*position: fixed;*/
    right: 50px;
    bottom: 10px;
    cursor: pointer;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    border-color: orange;
    color: #fff;
    font-weight: bold;
	width: 100%;
	line-height: 10px;
}

#woocommerce-order-data #order_data #order-rate{
	position: absolute;
    top: 10px;
    right: 10px;
	font-size: 20px;
	color: #181818;
	border: 1px solid #9AA1A8;
	border-radius: 4px;
	padding: 5px 15px;
	display: flex;
}

#profile-page #user-order-rate{
	font-size: 20px;
	color: #181818;
	border: 1px solid #9AA1A8;
	border-radius: 4px;
	padding: 9px 15px;
	display: flex;
	width: 340px;
    margin: 20px 0px;
}

.type-shop_order .rate-order span,
.column-user_rate_order span,
#woocommerce-order-data #order-rate-num,
#profile-page #user-order-rate #order-rate-num{
	display: flex;
}

#woocommerce-order-data #order-rate-num,
#profile-page #user-order-rate #order-rate-num{
	margin-left: 8px;
}



.type-shop_order .rate-order span:after,
.column-user_rate_order span:after,
#woocommerce-order-data #order-rate-num:after,
#profile-page #user-order-rate #order-rate-num:after{
	width: 18px;
    height: 18px;
    display: inline-block;
    content: '';
    border-radius: 50px;
	margin-top: 3px;
    margin-left: 5px;
}

#woocommerce-order-data #order-rate-num:after{
	margin-top: 5px;
}

#profile-page #user-order-rate #order-rate-num:after{
	margin-top: 0px;
}

.column-user_rate_order span:after{ margin-top: 0px; }

.type-shop_order .rate-order .rate-green:after,
.column-user_rate_order .rate-green:after,
#order-rate-num.rate-green:after{
	/*background-color: #008000;*/
	background-image: url(../../images/ico_smile_5.png);	
}

.type-shop_order .rate-order .rate-blue:after,
.column-user_rate_order .rate-blue:after,
#order-rate-num.rate-blue:after{
	/*background-color: #0000ff;*/
	background-image: url(../../images/ico_smile_4.png);	
}

.type-shop_order .rate-order .rate-orange:after,
.column-user_rate_order .rate-orange:after,
#order-rate-num.rate-orange:after{ 
	/*background-color: #ffa500; */
	background-image: url(../../images/ico_smile_3.png);
}

.type-shop_order .rate-order .rate-red:after,
.column-user_rate_order .rate-red:after,
#order-rate-num.rate-red:after{ 
	/*background-color: #ff0000; */
	background-image: url(../../images/ico_smile_2.png);
}

.type-shop_order .rate-order .rate-red1:after,
.column-user_rate_order .rate-red1:after,
#order-rate-num.rate-red1:after{ 
	background-image: url(../../images/ico_smile_1.png);
}

.admin-rate-order label{
	display: inline-block !important;
}

.admin-rate-order input#rate_order{
	display: inline-block !important;
    width: 30px !important;
}


#send-user-push .push-send-field{
	margin-left: 20px;
	width: 300px;
}

#send-user-push textarea{
	height: 70px;
}

#send-user-push label{
	float: left;
}

#send-user-push .row{
	margin-top: 20px
}

#send-user-push .row label{
	width: 110px;
	display: inline-block;
}

#send_push{
	margin-top: 20px;
}

#satus-send-push{
	font-weight: bold;
	color: green;
	display: none;
	margin-left: 30px;
}

#satus-send-push.show{
	display: inline-block;
}

#send-user-push #push-title.invalid,
#send-user-push #push-text.invalid{
	border: 2px solid red;
}

div[data-layout="range_before"]{
	background: #40736961 !important;
}

div[data-layout="zone_before"]{
	background: #25778a61 !important;
}



#filter-user-push input{
	width: 175px;
}

#filter-user-push #search-filter{
	width: 80px;
	height: 35px;
    font-size: 14px;
    border-radius: 5px;
	margin-top: 15px;
}

#user-list-result-front{
	width: 1300px;
    height: 250px;
    margin-top: 20px;
    font-size: 14px;
    overflow: scroll;
}

#user-list-result-front .title-bl{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

#user-list-result-front .user-row{
	margin-bottom: 5px;
}

#user-list-result-front tr{
	padding: 10px 5px;
}

#user-list-result-front .id-td{
	text-align: center;
    width: 60px;
}

#user-list-result-front .login-td{
	text-align: center;
    width: 150px;
}

#user-list-result-front .count-td{
	text-align: center;
    width: 150px;
}

#user-list-result-front .all-sum-td{
	text-align: center;
    width: 100px;
}

#user-list-result-front .sex-td{
	text-align: center;
    width: 100px;
}

#user-list-result-front .promo-td{
	text-align: center;
    width: 150px;
}

#push-send-by-filter{
	width: 300px;
	margin-top: 30px;
}

#filter-text-push{
	border: 1px solid gray;
	border-radius: 3px;
	margin: 10px 0px;
	height: 100px;
}

#push-send-by-filter #filter-send-button {
    width: 90px;
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 15px;
}

#filter-user-push .label-filter{
	margin-top: 20px;
}

.push-send-filter-info{
	font-size: 14px;
	width: 810px;
	font-weight: normal;
	color: #00000082;
}

/*админ меню скрытие*/

#adminmenu.demo-ac #menu-appearance{
	display: none;
}

/********/
.push-resent{
	cursor: pointer;
}
.text-column{
	white-space: nowrap; /* Отменяем перенос текста */
	overflow: hidden; /* Обрезаем содержимое */
	padding: 5px; /* Поля */
	text-overflow: ellipsis; /* Многоточие */
}
.fixed .column-resent{
	width: 2%;	
}
.more_btn_contener{
	text-align: center;
}
#more_logs{
	line-height: 30px;
	font-size: 18px;
	margin-top: 20px;	

	background: #2271b1;
	border-color: #2271b1;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
}
.table-view-list-event{
	
}